body {
    background-color: #262525;
}

h1 {
    color: white;
    background-color: #363434;
    font-family: "Times New Roman", sans-serif;
    font-size: 85px;
    text-align: center;
}

.links {
    text-align: center;
    font-size: 30px;
}

.desc {
    color: white;
}

.ingr {
    color: white;
}

.steps {
    color: white;
}

.pasta {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}